<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="EmployeeApp" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>My AngularJS App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>

        <div ng-controller="EmployeeDataCtrl">
            <table class="table table-striped">
                <tr>
                    <th ng-repeat="(key,val) in Employee[0]">{{key}}</th>
                </tr>
                <tr ng-repeat="data in Employee">
                    <td ng-repeat="(key,val) in data">{{val}}</td>
                    <td><button type="button" class="btn btn-primary" ng-click="EmployeeDelete($index)">Delete</button></td>
                    <td><button type="button" class="btn btn-primary"ng-click="EmployeeEditfunc($index)">EDIT</button></td>
                </tr>

            </table>
            <button type="button" class="btn btn-primary" ng-click="EmployeeEditfunc()">ADD ENTRY</button>

            <div ng-show="editData">
                <table class="table table-striped   ">
                    <tr>
                        <th >ID</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>DOB</th>
                    </tr>
                    <tr>
                        <td><input type="text"  ng-model="EmployeeEdit.ID" ></td>
                        <td><input type="text"  ng-model="EmployeeEdit.Name" ></td>
                        <td><input type="text"  ng-model="EmployeeEdit.Location"></td>
                        <td><input type="date"  ng-model="EmployeeEdit.DOB"></td>
                    </tr>

                </table>
                <button type="button" class="btn btn-primary" ng-click="saveData()">SAVE</button>
                <button type="button" class="btn btn-primary" ng-click="cancelData()">CANCEL</button>

            </div>
        </div>
        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
        -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </body>
</html>
